body {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 0.5em;

  display: grid;
  column-gap: 20px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 400px auto;
  grid-template-areas:
    "header   header"
    "controls document";
}

h1 {
  grid-area: header;
  justify-self: center;
}

.controls {
  grid-area: controls;
  display: grid;
  grid-template-rows: max-content 40px 40px 40px 40px;
  grid-template-columns: 150px auto;
  align-items: center;
  grid-template-areas:
    "canvas canvas"
    "label0 control0"
    "label1 control1"
    "label2 control2"
    "label3 control3";
}

canvas {
  width: 400px;
  height: 400px;
  grid-area: canvas;
  margin-bottom: 20px;
}
