name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    environment: Publish to NPM
    timeout-minutes: 10

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Update npm
        run: npm install -g npm@11.6.2

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install packages
        uses: bahmutov/npm-install@v1

      - name: Wait for tests to complete
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          check-regexp: Test

      - name: Build demo app
        run: |
          npm add --save-dev @rollup/rollup-linux-x64-gnu@4.41.1
          npx vite build

      - name: Deploy demo app to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: demo/dist

      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v5
        with:
          semantic_version: 25
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
